.card_container {
    max-width: 200px important!;
  display: flex important!;
  flex-direction: column important!;
  justify-content: center important!;
  min-width: 100px important!;
  background-color: #f3dfc9;
  border-radius: 15px;
 padding:1rem

}
.card_title {
}
.card_img {
    width: 100%;
  max-width: 300px;
  max-height: 300px;
}
.card_description {
  
}
.card_price {
}
